<h4>Add new post<h4>
<p>
  <form action="/new" method="POST" role="form">
  <textarea class="form-control" rows="6"placeholder="Type text"></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Yarrr</button>
  </form>
</p>